body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  padding-left: 10px;
}


#thanos {
  float: left;
    height: 150px;
    margin: 15px;
    border-radius: 30px;
    opacity: 0.8;
}

li {
  margin: 20px;
    border-radius: 10px;
    font-size: large;
}

#editEntry {
  margin-left: 15px;
}

.book {
  cursor: pointer; 
  cursor: hand; 
}

.reviewTitle {
  text-align: center;
}

#dateDisplay {
  float: right;
}

.bookDisplay {
  margin-bottom: 12px;
    font-size: larger;
    padding: 15px;
    opacity: 0.8;
}

#reviewerInput {
  margin-top: 15px;
}

.homepage{
  background:url('/images/infinity2.jpg') no-repeat center center;
  min-height:100%;
  background-size:cover;
}

.showpage{
  min-height:100%;
  background-size:cover;
}

.top {
  font-family: 'UnifrakturMaguntia', cursive;
  color: #CED807;
  margin-top: 25px;
  text-shadow: 2px 2px #ff0000;
}

.book {
  opacity: 0.8;
}

.homepageImages {
  float: right;
  height: 145px;
}

.bookInfo {
  text-align: right;
  color: #FBFCD3;
  text-shadow: 4px 4px black;
}
 .wholepage {
  background-color: #810828;
 }

.reviewsBook {
  color: #FBFCD3;
  text-shadow: 4px 4px black;
}

.reviewBox {
  opacity: 0.8;
}